.project-thim{
  background-color: #093E53 !important;
}
.text{
  font-size: 12px !important;
}
.textbold{
  font-size: 12px !important;
  font-weight: bold !important;
}
/* global dataGridTable header */
.css-yrdy0g-MuiDataGrid-columnHeaderRow{
  background-color: #093E53 !important;
  color: #fff !important;
}

/* form lable  */
.css-s6km2v-MuiFormLabel-root{
  font-size: 12px !important;
  font-weight: bold !important;
  color: rgb(68, 65, 65) !important;
}
/* form field */
 .css-1sh6wjw-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 3px 5px !important;
  font-size: 12px !important;
  color: gray !important;
}
/*datagrid field dropdown */
.css-bgvwm1-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 3px 5px !important;
  font-size: 12px !important;
  height: 0px !important;
  color: gray !important;
}
/* datagridfild dropdown menu option */
.css-1h4bzp1-MuiButtonBase-root-MuiMenuItem-root{
  font-size: 12px !important;
  line-height: 12px !important;
  padding-top: 2px !important;
  padding-bottom: 5px !important;
  color: gray !important;

}
/* datagridtable Head */
.css-1t7lzbz-MuiTableCell-root ,.css-10ukr6t-MuiTableCell-root {
padding: 5px !important;
}
 
/* data grid footerpagination */
@media (min-width:600px) {
  .css-wop1k0-MuiDataGrid-footerContainer, .css-16og44m-MuiToolbar-root-MuiTablePagination-toolbar {
    min-height: 30px !important;
    height: 35px !important;
    overflow: hidden !important;
  }
}

.headerNav{
  transition: 300ms ease all;
    background-image: linear-gradient(to right #093E53, #d5e3e4) !important;
}
.headerNav.css-5czdux-MuiPaper-root-MuiAppBar-root{
  position: sticky !important;
  height: 65px !important;
  margin-bottom: 5px !important;
}
.side-nav .css-153gm7s-MuiPaper-root-MuiDrawer-paper {
background-color:#093E53 !important;
overflow: hidden !important;
}
.side-nav .css-1xa1c3i-MuiButtonBase-root-MuiListItemButton-root{
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.side-nav-menu-icon{
  padding: 12px 8px !important;
  color:#fff !important;
}

/* Letter Details */




/* Staff Master */




/* company-master-form */



/* Company Master */




/* ledger-details-form */

/* Opening Stocks components */

    /* Opening Stocks Table */
.css-163fvz6-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
  display: flex !important;
  justify-content: space-between !important;
  
}
.css-163fvz6-MuiDataGrid-root .MuiDataGrid-columnHeader--alignRight .MuiDataGrid-columnHeaderTitleContainer {
  flex-direction: row !important;
  display: flex !important;
  justify-content: space-between !important;
}
.css-163fvz6-MuiDataGrid-root .MuiDataGrid-columnHeader--alignRight .MuiDataGrid-columnHeaderDraggableContainer{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
.css-163fvz6-MuiDataGrid-root .MuiDataGrid-sortIcon{
color: #fff !important;
}

/* Opening Stocks OS Table */

.css-ihlsro-MuiDataGrid-root .MuiDataGrid-columnHeader--alignRight .MuiDataGrid-columnHeaderTitleContainer{
  flex-direction: row !important;
  display: flex !important;
  justify-content: space-between !important;
}
.css-ihlsro-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer{
  flex-direction: row !important;
  display: flex !important;
  justify-content: space-between !important;
}
.css-ihlsro-MuiDataGrid-root .MuiDataGrid-sortIcon{
  color: #fff !important;
}